/* Custom CSS for PBTech

You can customize whatever you want.
Some defaults are included, like on PBWoW.com

Get all the FontAwesome CSS codes here: https://fortawesome.github.io/Font-Awesome/icons/

*/

/* CSS resets */

ul, ol
{
    margin:       0;
    padding-left: 0;
}

dd, dt
{
    margin-left: 0;
}

/* Custom components */

#logo
{
	background: url("./images/logo.png") no-repeat;
    background-size: contain;
	width: 308px;
	height: 92px;
	margin: 10px 0;
    margin-top: 16px;
}

sup
{
    vertical-align: super;
    font-size: smaller;
}

sub
{
    vertical-align: sub;
    font-size: smaller;
}

.postbody .content li
{
    padding: 6px 0;
}

/* Video BBCode */
.postbody .content video
{
    max-width: 100%;
}

/* Unread topic coloring */
.topic_unread
{
    background-color: rgb(208,219,223);
}

li.row:hover .topic_unread
{
    background-color: transparent;
}

/* Deleted topic strikethrough */
.topiclist .deleted a,
.topiclist .deleted dt,
.topiclist .deleted dd
{
     text-decoration: line-through;
}


/* Update fixes
--------------------------------------------- */

/* phpBB 3.1.8 */

.postprofile .avatar img
{
    background: none;
    margin-top: 0;
    padding:    0;
}

/* phpBB 3.2.0 */

/* Remove mystery new javascript menus */
#nav-footer > li.responsive-menu,
.post-buttons > li.responsive-menu
{
    display: none;
}

/* Fixes various icons; these disappeared from 3.2.0 */
li.breadcrumbs span:first-child > a
{
    display:      inline-block;
    padding-left: 17px;
}

.topiclist .row .pagination ul
{
    padding-left: 14px;
}

/* Hide darken screen; disappeared from 3.2.0 */
#darkenwrapper
{
    display:  none;
    position: relative;
    z-index:  44;
}

/* Fix search fieldset in forum view */
fieldset
{
    margin:  0;
    padding: 0;
}

.search-box .button                 { font-size:     0; }
.search-box .button.search-icon     { border-radius: 0; }
.search-box .button.search-adv-icon { border-radius: 0 3px 3px 0; }

/* Remove indentation from topic lists */
ul.topiclist
{
    padding: 0;
}

ul.topiclist dl,
ul.topiclist dd
{
    margin: 0;
}

/* Fix weird line-heighting of pagination */
.action-bar .pagination .button  { line-height: initial; }
.pagination li.page-jump .button { line-height: 17px; }

/* Remove labels for pagination buttons */
.pagination li.previous a span,
.pagination li.next a span,
.pagination li.page-jump a span
{
    font-size: 0;
    padding:   0;
}

/* Disable FontAwesome for pagination buttons */
.pagination i
{
    display: none;
}

/* Fix post body width */
.postbody { width: 84%; }

/* Fix back-to-top */
.back2top .top { margin: 0; }

/* FontAwesome support */
.fa-fw
{
    font-family: FontAwesome;
    font-style: normal;
}

/* Disable some FA icons already used by PBTech */
.fa-sort-down,
.fa-sort-up,
.fa-angle-left,
.fa-angle-right
{
    display: none;
}

.format-buttons .button
{
    min-width: 2em;
    margin-bottom: 0.5em;
}

/* Posting fixes */
fieldset.fields1 dt
{
    width:       auto;
    min-width:   10em;
    line-height: 1.6em;
}

fieldset.fields1 dd
{
    margin-left: 0;
}

dd input, dd textarea
{
    margin-top: 0;
}

.format-buttons select
{
    width: 100px;
}

/* PM view fixes */
dl.mini dt
{
    margin-bottom: 4px;
}

ul.topiclist.pmlist li.row dl
{
    background-position: 8px 50%;
    background-repeat:   no-repeat;
}

ul.topiclist.pmlist li.row dt
{
    background-position: 5px 95%;
}

ul.topiclist.pmlist li.row dl .list-inner
{
    padding-left: 45px;
}

/* Custom BBCode
--------------------------------------------- */

.postbody .collapsible:hover
{
    height: initial;
}

.postbody .collapsible
{
    height: 48px;
    background: rgba(67, 67, 67, 0.12);
    padding: 3px;
    border: 1px solid transparent;
    text-shadow: none;
    box-shadow: none;
    overflow: hidden;
}

.postbody .collapsible > p:first-child
{
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    margin-bottom: 3px;
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    color: #4A4A4A;
}

.postbody .collapsible > p:last-child
{
    margin: 2px 0;
    font-size: 1.0em;
    padding: 5px;
    color: #4A4A4A;
    opacity: 0.5;
}

.postbody .collapsible:hover > p:last-child
{
    opacity: 1;
}

.postbody .inline-code
{
    font-size: 90%;
    white-space: normal;
    color: #c25;
    padding: 1px 3px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.postbody hr
{
    margin: 1em 0;
}

.post > .inner > .postbody .content h1,
.post > .inner > .postbody .content h2,
.post > .inner > .postbody .content h3,
.post > .inner > .postbody .content h4
{
    display: block !important;
    color:   #074e79;
    margin:  0.5em 0 0.5em 0 !important;
}

.post > .inner > .postbody .content h1
{
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid #3380C8;
}

.post > .inner > .postbody .content h2,
.post > .inner > .postbody .content h3
{
    padding: 0 0 0.25em 0;
    border-bottom: 1px dotted #3380C8;
}

.post > .inner > .postbody .content h3
{
    font-size: 1.2em;
}

.post > .inner > .postbody .content h4
{
    padding: 0 0 0.25em 0;
    font-size: 1.2em;
}

/* Hide repetitive post titles
--------------------------------------------- */

body.section-viewtopic .postbody h3,
#qr_postform .fields1 > dl {
	display: none;
}

body.section-viewtopic .postbody p.author {
	clear: none;
	margin: 0;
	padding: 8px 0 12px;
}
